
h1{

  text-align: center;

}
header {
  color: white;
  font-size: larger;

  
}


table{
    border-collapse: collapse;
    text-align: left;
    color: white;
    
    
    
}

tr, td {
    border: 1px solid white;
    
}

body {
    font-family: sans-serif;
    background:  url(https://bogatyr.club/uploads/posts/2023-03/14639/1678140664_bogatyr-club-p-volshebnii-kosmos-foni-krasivo-30.jpg);
  
}

main{
  background-color: transparent;
  color: white;
  font-size: larger;
}
footer p {
  color: white;
}

img {
 text-align: right; 
}

